@import "./mozilla-protocol/css/protocol.css";
@import "./mozilla-protocol/css/protocol-components.css";

@media print {
  .protosite-nav-main {
    display: none !important;
  }
  .protosite-main {
    padding-left: 0 !important;
  }
}

h2 {
  font-size: 2rem;
}

.article-content h1 {
  font-size: 2.2rem;
}
.article-content h2 {
  font-size: 2rem;
}
.article-content h3 {
  font-size: 1.7rem;
}
.article-content h4 {
  font-size: 1.5rem;
}

main .mzp-l-content {
  padding-top: 0;
  padding-bottom: 0;
}

.footnote a,
.footnote-anchor {
  text-decoration: none;
}

/* In-content hover links */
.protosite-pattern-anchor {
  color: initial;
  text-decoration: none;
  border: 0;
  cursor: default;
  padding-inline-end: 1em;
}

.protosite-pattern-anchor:hover,
.protosite-pattern-anchor:focus {
  color: initial;
  text-decoration: none;
  background: none;
}
.protosite-pattern-anchor::after {
  content: "";
  opacity: 0;
  transition: opacity ease-in 0.15s;
}

.protosite-pattern-anchor:hover::after,
.protosite-pattern-anchor:focus::after {
  content: "#";
  opacity: 1;
  padding-inline-start: 3px;
  color: #0060df;
  cursor: pointer;
}

@media (min-width: 768px) {
  .protosite-nav-main {
    -webkit-overflow-scrolling: touch;
    box-sizing: border-box;
    display: block;
    height: 100%;
    left: 0;
    min-width: 160px;
    overflow-x: hidden;
    overflow-y: auto;
    padding: 20px;
    position: fixed;
    top: 0;
    width: 20vw;
    z-index: 1;
  }
}
.protosite-nav-main {
  background: #000;
  color: #fff;
  padding: 10px;
}
.protosite-nav-main :link,
.protosite-nav-main :visited {
  color: #fff;
  text-decoration: none;
}

.protosite-nav-main .protosite-js-nav-toggle {
  cursor: pointer;
  display: block;
}
@media (min-width: 768px) {
  .protosite-nav-main .protosite-js-nav-toggle {
    display: none;
  }
}

.protosite-main {
  padding: 20px 4vw;
}
@media (min-width: 768px) {
  .protosite-main {
    padding-left: 21vw;
  }
}

.protosite-nav-menu-title {
  font-size: 1.4rem;
}

.protosite-nav-main-head {
  margin: 0 0 5px;
}

/* Without this the wordmark text disappears in high contrast mode */
.protosite-nav-main-mozlogo {
  background: black;
}

/* .exec-summary-link {
  padding-bottom: 10px;
  font-size: 1.2rem;
} */

.js .protosite-nav-main-menu {
  display: none;
}
@media (min-width: 768px) {
  .js .protosite-nav-main-menu {
    display: block;
  }
}

.protosite-nav-main-mozlogo {
  float: right;
  height: 28px;
}
@media (min-width: 768px) {
  .protosite-nav-main-mozlogo {
    float: none;
    height: 48px;
  }
}

.protosite-nav-main-menu .mzp-c-cta-link {
  display: inline-block;
  background: #7f8dff;
  width: 100%;
  margin: 3px 0;
}

.js .protosite-nav-main.mzp-is-active .protosite-nav-main-menu {
  display: block;
}
